@using Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/w3.css" />
    <link rel="stylesheet" href="~/css/guild.css" />
</head>
<body class="w3-light-gray">
    <nav id="sidebar" class="w3-sidebar w3-bar-block w3-text-white shadow-border background sidebar" style="overflow:visible;">
        <a href="@Url.Action("Index", "Admin", null)" class="w3-bar-item w3-button w3-blue w3-center" style="font-family:'Yu Gothic UI'; height:60px;"><span id="icon">Панель администрирования</span></a>
        <ul class="w3-bar-item">
            <li>
                <a asp-action="Users" asp-controller="Admin" class="w3-bar-item w3-button w3-left-align w3-round w3-hover-dark-gray">
                    Список пользователей
                </a>
            </li>
            <li>
                <a asp-action="CreateUser" asp-controller="Admin" class="w3-bar-item w3-button w3-left-align w3-round w3-hover-dark-gray">
                    Добавить пользователя
                </a>
            </li>
            <li>
                <a asp-action="CreateGuild" asp-controller="Admin" class="w3-bar-item w3-button w3-left-align w3-round w3-hover-dark-gray">
                    Добавить цех
                </a>
            </li>
        </ul>
    </nav>
    <main id="main" class="w3-animate-right">
        <button id="sidebarToggle" onclick="sbToggle()" class="w3-button w3-circle w3-bar-item"><i class="fas fa-ellipsis-v"></i></button>
        <div class="w3-right">
            <button class="w3-bar-item w3-button"><i class="far fa-bell"></i></button>
            <div class="w3-dropdown-hover">
                <button class="w3-button" style="height:38px">@User.Identity.Name<img src="https://www.w3schools.com/w3css/img_avatar2.png" class="w3-circle" style="height:25px;">&nbsp;<i class="fa fa-caret-down"></i></button>
                <div class="w3-dropdown-content w3-bar-block w3-card-2 w3-dark-grey" style="right:0">
                    <a href="@Url.Action("Edit", "Users", null)" class="w3-bar-item w3-button">Редактировать</a>
                    <a href="#" class="w3-bar-item w3-button">Выйти</a>
                </div>
            </div>
        </div>
        <div class="w3-margin" style="margin-top:50px !important;">
        @RenderBody()
        </div>
    </main>
</body>
</html>
